body {
    margin: 0;
    overflow: hidden;
    background-color: #f7f7f7;
    font-family: 'Arial', sans-serif;
}

#game {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#dino {
    position: absolute;
    bottom: 0;
    left: 50px;
    width: 50px;
    height: 50px;
    background-color: green;
}

#cactus {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 50px;
    background-color: red;
    animation: moveCactus 2s linear infinite;
}

@keyframes moveCactus {
    from {
        right: -20px;
    }
    to {
        right: 100vw;
    }
}
